.body {
    color: rgb(0, 18, 25);
}

.headings {
    font-weight: bold;
}

.box-style {
    width: 9rem;
    height: 9rem;
    border: solid 8px orangered;
    border-radius: 10px;
}

.btn-style-sm {
    /* border: solid 2px orangered; */
    width: 3.5rem;
    height: 1.5rem;
    font-size: 0.7rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.link-color {
    color: rgb(0, 18, 25);
}

.label-style {
    background: rgb(200, 224, 135);
    font-weight: bold;
}

.btn-back {
    background: rgb(200, 224, 135);
    font-weight: bold;
}

.btn-action {
    background: orangered;
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}
